MODS_DIR="/path/to/MODS/"
API_IDENTITY="FAKE:USER"
API_URL="https://fake.apitest/api/private/items/"
REPO_URL="https://fake.repo.url/objects/" # The url used to fetch RELS-EXT XML
OWNER_ID="FAKE:USER"
API_KEY='fake_key'
STAGING_DIR="/path/to/staging/"
