MODS_DIR="/path/to/MODS/"
API_IDENTITY="FAKE:USER"
API_URL="https://fake.apitest/api/private/items/"
BACKEND_STORAGE_BASE_URL="https://fake.backend.storage/storage/" # The url used to fetch RELS-EXT XML
OWNER_ID="FAKE:USER"
API_KEY='fake_key'
STAGING_DIR="/path/to/staging/"
